<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리뷰 전체 페이지</title>
    <link rel="stylesheet" href="../public/reviews.all.css" />
</head>
<body>
    리뷰 전체보기 페이지
    
    <div class="reviews"> 
    <div class="sitterName" id="reviewSitterName">dd</div>
    <div class="reviewOne" >
        <div class="userName" id="reviewUserName">gdgd</div>
        <div class="reviewComment" id="reviewUserComment">good</div>
        <div class="reviewGrade" id="reviewUserGrade">grade:1</div>
    </div>
    </div>


   <script src="../script/reviews.page.js" type="module"></script>
    
</body>
</html>